/* 
    Document   : sample
    Created on : Jul 18, 2013, 1:20:23 PM
    Author     : pcs144
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

